*{
    margin: 0;
    padding: 0;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

#mosaic{
    min-height: 400px; /* Тимчасова величина, просто щоб було видно */
    border: 1px solid gray;
    box-sizing: border-box;
    /*todo поміняти розміри*/
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.mosaic__block{
    border: 1px solid #a5a5a5;
    float: left;
    box-sizing: border-box;
}

.container{
    float: left;
    border: 0 solid #000000;
}
